<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${formAdd}?' Add new article':'Update article'">Add new article</title>
<style type="text/css">
body{
margin-right:100px;
margin-left:100px;

}
div{
width:800px;
height:auto;
border: 2px solid grey;
padding-right:20px;
padding-left:20px;

}

h1, h2{
text-align:center;
}
input, select{
width:100%;
height:20px;
margin-top:10px;
margin-buttom:10px;
}
</style>
</head>
<body>
<h1  th:text="${formAdd}?' Add new article':'Update article'">Add new article</h1>
<h2><a href="/article">Back to home page</a></h2>
<div>
<form th:action="${formAdd}?'/add':'/update'" method="post" th:object="${article}" enctype="multipart/form-data">
   ID<input type="text" th:field="*{id}" placeholder="ID"/><br/>
   Title<input type="text" th:field="*{title}" placeholder="Article Title"/><br/>
   Description<input type="text" th:field="*{description}" placeholder="Description"/><br/>
   Author<input type="text" th:field="*{author}" placeholder="Auhtor Name"/><br/>
   Category<select th:field="*{category}">
      <option th:value="1">Spring</option>
      <option th:value="2">Web</option>
      <option th:value="3">Java</option>
      <option th:value="4">Database</option>
      <option th:value="5">Korean</option>
   </select><br/>
   Thumbnail<input type="hidden" th:filed="*{thumbnail}"/>
   <input type="file" name="image" accept="image/*"/>
   <input type="submit" th:value="${formAdd}?'Save':'Update'"/>
</form>
</div>
 
</body>
</html>