<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Article management System</title>
<style type="text/css">
table, tr, td, th{
     border: 1px solid black;
     border-collapse:collapse;
}
table, h1, h2{
text-align:center;
}
</style>
</head>
<body>
<h1>Article List</h1>
<h2><a href="/add">Add new</a></h2>
<table>
    <tr>
       <th>ID</th>
       <th>Title</th>
       <th>Description</th>
       <th>Category</th>
       <th>Author</th>
       <th>Thumbnail</th>
       <th>Create Date</th>
       <th>Action</th>
    </tr>
    <tr th:each="article: ${articles}" th:object="${article}">
       <td th:text="*{id}">ID</td>
       <td th:text="*{title}">Title</td>
       <td th:text="*{description}">Description</td>
       <td th:text="*{category}">Category</td>
       <td th:text="*{author}">Author</td>
       <td><img src="*{thumbnail}"/>Thumbnail</td>
       <td th:text="*{createDate}">Create Date</td>
       <td>
       <a th:href="@{/delete/{id}(id=*{id})}">Delete</a>
       <a th:href="@{/update/{id}(id=*{id})}">Update</a>
       <a th:href="@{/view/{id}(id=*{id})}">View</a>
       </td>
    </tr>

</table>
</body>
</html>