<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${formAdd}?' Add new article':'Update article'">Add new article</title>
</head>
<body>
<h1  >Update article</h1>
<h2><a href="/article">Back to home page</a></h2>
 <form action="/update/commit" method="post" th:object="${artilce}">
   ID<input type="text" th:field="*{id}"/><br/>
   Title<input type="text" th:field="*{title}"/><br/>
   Description<input type="text" th:field="*{description}"/><br/>
   Author<input type="text" th:field="*{author}"/><br/>
   
   <input type="submit" value="Update"/>
  
</form>
</body>
</html>